<form class="form-signin" method="POST" action="/login">

        <input type="text" name="username" class="form-control email" placeholder="Username" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <br>
      <span class="register_here">or <a href="/register">create an account</a></span>
      </form>
