<form method="POST" action="/register" class="form-signup">
		
		<label class="sr-only">Name</label>
        <input type="text" name="name" class="form-control name" placeholder="Name" required="" autofocus="">

        <label class="sr-only">Username</label>
        <input type="text" name="username" class="form-control username" placeholder="Username" required="" autofocus="">

        <label class="sr-only">Email address</label>
        <input type="text" name="email" class="form-control email_sign_up" placeholder="Email address" required="" autofocus="">

        <label class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required="">

        <label class="sr-only">Password</label>
        <input type="password" name="password2" class="form-control confirm" placeholder="Confirm Password" required="">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create an account</button>
        <br>
        Have an Account? <a href="/login">Login Now</a>
      </form>